// Variables de color
$weed: #1E2601;
$w-li: #324001;
$ul-li: #324001;


// Tipografías
.osw{
  font-family: 'Oswald', sans-serif;
}

.ubu {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

// Navbar
.navbar {
  background-color: $weed;
  border: 1px solid $weed;
  -webkit-box-shadow: 0px 12px 33px -16px rgba(0,0,0,5);
  -moz-box-shadow: 0px 12px 33px -16px rgba(0,0,0,5);
  box-shadow: 0px 12px 33px -16px rgba(0,0,0,5);

  .navbar-left{
    li {
      &:hover{
        background-color: $ul-li;
      }
      a{
        color: white !important;
        font-size: 20px;
        &:hover{
        }
      }
    }
  }
  .navbar-right {
    a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white !important;
    letter-spacing: 2px;
    text-transform: uppercase;
        &:hover{
          background-color: $w-li;
        }
    }
    .dropdown-toggle{
      &:hover{
        background-color: $ul-li;
      }
    }
    .dropdown-menu{
      background-color: $weed;
      border: 1px solid $weed;
    }
  }
}

// banner
#banner{
  background: url(../img/bg1.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0px;
  margin-top: 30px;
  img {
    width: 50%;
  }
}

// Post 

#posts{
  img {
    width: 100%;
  }
}

.post{
  border: 1px solid #CCC;
  padding: 10px;
}

// Footer 

footer {
  background-color: $weed;
  padding: 100px 0px;
  color: white;
  a {
    color: white;
  }
}